<!doctype html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel=stylesheet href="../static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="../static/css/style.css" type="text/css">
		<script src="../static/js/jspsych-4.3/plugins/jspsych-fullscreen.js"></script>
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to proceed!<br>
					And please resize this browser window NOW so it takes up your entire screen!</h1>
                <hr>
                <div class="legal well">
                    <p>
                    Thank you for your interest in this study!  If you so choose, you will be participating in a study 
					conducted by principal investigator Dr. Brian Odegaard (UCLA) and faculty sponsor Dr. Hakwan Lau (UCLA).  
					The purpose of this study is to investigate how we make judgments on color based on their relative location 
                    in the visual field.
                    </p>
                    <p>
					This experiment displays colored patches at various locations in your browser window.  Before we describe
					the task and instructions below, please note the following four items:<br><br>
					<b>1.) PLEASE USE GOOGLE CHROME AS YOUR WEB BROWSER IN THIS EXPERIMENT<br></b>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Safari, Firefox, Internet Explorer, and other browsers will not work.<br><br>
					<b>2.) Please resize this browser window NOW so that it fills your entire screen!</b><br><br>
					<b>3.) Please do NOT adjust your browser size after starting the experiment, as this can disrupt 
					proper presentation of the stimuli!</b><br><br>
					<b>4.) Finally, please note that it may take the experiment 5 minutes to load!</b><br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You do not need to refresh the page after clicking the 
					button to begin; the screen will change and the experiment will start after a few minutes.
	                </p>
					<p>
					<b>Task:</b><br>
					If you elect to participate in this study, you will be asked to do the following task: on every trial,
					3 patches consisting of many colors will be shown.  Following the presentation of the patches, you
					will judge which of the patches are more colorful.
					</p>
					<p>
					The entire study should last about 30 minutes. It is important that you complete the study while in 
                    a quiet place where you can focus without distraction.  Please be sure that you have enough time and 
                    are in an appropriate setting before continuing with the study.
					</p>
	                <p>
					As with any task requiring that you focus intently on the computer monitor, you may experience
					some eye fatigue or dryness. There are 2 breaks built into the experiment and it is recommended that
					you take a 1 minute rest during the break, though you may take longer if you need.
					</p>
					<p>
					<b>Eligibility:</b><br>
					In order to participate, you must be using a computer (this should not be done on a mobile device
					or iPad), be using Google Chrome as your web browser (Safari, Firefox, Internet Explorer, etc.
					will not work), and must have normal or corrected-to-normal vision (glasses or contacts are 
					OK!  Just make sure you are wearing them when you participate in this study).  Please DO NOT
					participate if you have a history of seizures, epilepsy, or stroke, as the stimuli we present 
					in the experiment will be briefly flashed, and this is a potential (but unlikely) seizure
					trigger.  Finally, if you have previously participated in an experiment about judging color
					that looks similar to this one, we would appreciate it if you abstained from participating, 
					as we would like to evaluate participants that have never done this task before.
					</p>
					<p>
					<b>Compensation:</b><br>
					You will be compensated $2 for completion of the study, with the possibility of receiving a $1
					bonus if your performance is higher than that of the previous participant.  Thus, if you 
					complete the study and earn the bonus payment, you will receive $3 for your participation.<br><br>
					<b>You may choose to withdraw from the experiment at any point, and we also reserve the right
					to terminate your session at any time.  Should you choose to withdraw (or should your session be
					terminated), you will be paid for the total amount of time you participated at a rate of $4/hr.  For 
					example, if you participated for 15 minutes and then stopped, you would be paid $1 for participating.
					Note, however, that if you withdraw, or if your session is terminated, you will not be eligible 
					for the possible bonus payment. Additionally, you will need to email summary.computations@gmail.com, 
					notifying the experimenters of when you participated (please include day and time in the email), 
					so you can be manually compensated through the mTurk system.</b>  We will not pay beyond 40 minutes of 
					participation, as this experiment should be completed in about 30 minutes.<br><br>
					You will not directly benefit from your participation in the research study, other than 
					contributing to psychological research.
					</p>
					<p>
					<b>Privacy and Confidentiality:</b><br>
					Any information that is obtained in connection with this study and that can identify you will 
					remain confidential.  It will be disclosed only with your permission or as required by law.
					Any work performed on mTurk can be linked to your profile page.  You may therefore wish to 
					restrict what information you share in your public profile.  If you choose to contact us directly
					either at the email address below or through mTurk, your email name may be seen.
					mTurk worker IDs will not be shared with anyone.  mTurk worker IDs are collected solely for
					the purposes of distributing compensation and will not be connected with the data or shared
					with anyone outside of the research team.  
					</p>
					<p>
					<b>Questions/Concerns?</b><br>	
					If you have any questions about the study, please contact the study manager at 
					summary.computations@gmail.com.
					If you wish to ask questions about your rights as a research participant or if you wish to voice 
					any problems or concerns you may have about the study to someone other than the 
					researchers, please call the Office of the Human Research Protection Program at (310) 825-7122
					or write to Office of the Human Research Protection Program, UCLA, 11000 Kinross Avenue,
					Suite 102, Box 951694, Los Angeles, CA 90095-1694.	
                    </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr>
                <h4>Do you understand and consent to these terms?<br>
					If you click "I Agree," remember:<br>
					It may take the screen a few minutes to change, as the experiment loads! <br>
					Please wait and do not close the browser. Think of it as you being paid to do what you want for a few minutes. </h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

