<! doctype html>
<html>
	<head>
		<title> RDK Experiment</title>
		 <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		 <script src = "../static/jspsych-5.0.3/jspsych.js"></script>
		 <script src = "../static/jspsych-5.0.3/plugins/jspsych-RDK.js"></script> <!--Include the script for the RDK plugin-->
		 <script src = "../static/jspsych-5.0.3/plugins/jspsych-text.js"></script>
		 <script src = "../static/jspsych-5.0.3/plugins/jspsych-single-stim.js"></script>
		 <script src = "../static/jspsych-5.0.3/plugins/jspsych-survey-text.js"></script>
		 <script src = "../static/jspsych-5.0.3/plugins/jspsych-survey-multi-choice.js"></script>
		 <link href = "../static/jspsych-5.0.3/css/jspsych.css" rel = "stylesheet" type = "text/css"></link>
		 <script src = "../static/jspsych-5.0.3/plugins/jspsych-similarity.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> <!--For similarity plugin-->
		 <script src = "pest.js"></script> <!--For pest procedure-->
		<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css" rel="stylesheet" type="text/css"></link><!--For similarity plugin-->
		
		<!---------PsiTurk inserts start-------->
		
		<script src="../static/lib/underscore-min.js" type="text/javascript"> </script>
		<script src="../static/lib/backbone-min.js" type="text/javascript"> </script>
		<script src="../static/lib/d3.v3.min.js" type="text/javascript"> </script>
		<!-- These variables are necessary to implement psiTurk -->
        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
        </script>
        <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
        <script src="../static/js/utils.js" type="text/javascript"></script>
		<script src="../static/js/psiturk.js" type="text/javascript"></script>
		
		<!---------PsiTurk inserts end-------->
		
	</head>
	<body>
		<div id="jspsych-target"></div>
	</body>
	<script>
		
		
		//Data switches
		var psiTurkIsOn = 0;
		var savingLocally = 1;
		var displayData = 0;
		var tableName = 'RDKCenterVsPeriphery';
		var folderName = 'RDKCenterVsPeriphery';
		

		// Load psiturk
		if (psiTurkIsOn == true){
			var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);
		}

		//PARAMETERS
		var trialDuration = 200;
		var trialsPerCondition = 25; //Each "Condition" has 4 center, 2 left, and 2 right = 8 trials
		var numberOfBreaks = 1;
		var RDKType = 3;
		var apertureType = 1; //1 is circle, 2 is ellipse
		var apertureWidth = 400; //If circle, this is used for radius
		var apertureHeight = 400;
		var numberOfDots = 200;
		var currentCoherence = 0.7; //Starting coherence
		var choices = [];
		var coherentDirection_left = 180; //Left and right corresponds to the scale on similarity which ranges from left to right (0 to 100)
		var coherentDirection_right = 0;
		var peripheryDistanceFromCenter = 400; //The distance of the center of periphery apertures from the center of screen, in pixels
		
		//Timing parameters
		var timingPostTrialText = 1000;
		var timingPostTrialRDK = 1000;
		var timingPostTrialSimilarity = 2000;
		var fixationCrossDuration = 1000;
		
		//Variables for practice trials
		var easyCoherence = 0.8;
		var hardCoherence = 0.2;
		var numberOfEasyPracticeTrialsCenter = 4; //Must be even number (pair of left/right). Odd number will be rounded down to even.
		var numberOfEasyPracticeTrialsPeriphery = 4; //Must be divisible by 4 (left_left, left_right, right_left, right_right)
		var numberOfEasyPracticeTrialsBoth = 4; //Must be even number (pair of left/right). Odd number will be rounded down to even.
		var numberOfHardPracticeTrialsBoth = 4; //Must be even number (pair of left/right). Odd number will be rounded down to even.
		var easyCorrectThreshold = 8; //If they get less than this value, kick them out
		var easyCorrectCounter = 0;
		var hardCorrectCounter = 0;
		
		//Variables for 3 Down / 1 Up
		var downThreshold = 3; // 3 Down
		var upThreshold = 1; // 1 Up
		var upperCoherenceLimit = 1.0;
		var lowerCoherenceLimit = 0.0000000001; //Practically 0, but cannot set to 0 because JavaScript evaluates it as false in the RDK plugin
		var correctStreakCounter = 0;
		var incorrectStreakCounter = 0;
		
		//Variables for PEST
		var currentStepSize = 0.32; //Global variable to hold the current step size
		var minimumStepSize = 0.01; //Smallest step size
		var maximumStepSize = 0.32; //Largest step size
		
		//FixationCrossParameters
		var fixationCross = true; //To display or not to display the cross
		var fixationCrossWidth = 20; //The width of the fixation cross in pixels
		var fixationCrossHeight = 20; //The height of the fixation cross in pixels
		var fixationCrossColor = "black"; //The color of the fixation cross
		var fixationCrossThickness = 1; //The thickness of the fixation cross, must be positive number above 1
		
		//Create the parameter object for PEST
		var pestParameters = {
			starting_intensity: currentCoherence,
			down_threshold: downThreshold,
			up_threshold: upThreshold,
			upper_intensity_limit: upperCoherenceLimit,
			lower_intensity_limit: lowerCoherenceLimit,
			starting_step_size: currentStepSize,
			min_step_size: minimumStepSize,
			max_step_size: maximumStepSize
		};
		
		//Initialize the pest object
		var myPest1 = new pest(pestParameters);
		var myPest2 = new pest(pestParameters); 
		
		//Prototype of a trial to be modified in the functions based on what is needed
		//coherent direction and coherence parameters still need to be specified (will do so in the makeTwoTrialsArray function below)
		var typicalTrial = {
			type: "RDK", 
			timing_post_trial: timingPostTrialRDK, //The Inter Trial Interval. You can either have no ITI, or change the display element to be the same color as the stimuli background to prevent flashing between trials
			number_of_dots: numberOfDots, //Total number of dots in the aperture
			RDK_type: RDKType, //The type of RDK used
			trial_duration: trialDuration, //Duration of each trial in ms
			fixation_cross: fixationCross, //Whether or not here is a fixation cross
			aperture_type: apertureType,
			aperture_height: apertureHeight,
			aperture_width: apertureWidth,
		};
		
		
		//Shortcuts for text (used in the text-making functions)
		var openText = "<h3>"
		var closeText = "</h3>"
		var lineSkip = "<br>";
		
		//Global variable to transer the correct variable from Similarity trial data to Fixation cross trial data
		var transferCorrect1;
		var transferCorrect2;
		
		var trialCounter = 0; //[sivaHack]
		
		//Change the body element to be the same color as the stimuli background
		document.getElementsByTagName("body")[0].style.background = "gray";
		
		//Set the fake stimuli such that the slider is below the aperture
		var fakeStimuli = "<div style = 'height: " + (window.innerHeight/2)+ "px; width: 700px;'></div>"; //This adjusts how high the slider is on the screen. Increase the height of the fake stimuli to push the slider down. Decrease the height to move the slider up.
		
		//----------Make practice trials----------
		
		
		//-----EASY TRIALS-----
		
		var practiceTrialsBlock = [];
		
		//--Center--
		var easyPracticeTrialsArrayCenter = makePracticeTrials("center","easy",numberOfEasyPracticeTrialsCenter); //Make the easy center practice trials
		practiceTrialsBlock = practiceTrialsBlock.concat(easyPracticeTrialsArrayCenter);//Add in the easy center practice trials
		practiceTrialsBlock = practiceTrialsBlock.concat(makeTextBetweenEasyCenterAndPeripheryPracticeTrials());//Add in the instructions in between
		
		//--Periphery--
		
		var easyPracticeTrialsArrayPeriphery = makePracticeTrials("periphery","easy",numberOfEasyPracticeTrialsPeriphery); //Make the easy periphery practice trials
		practiceTrialsBlock = practiceTrialsBlock.concat(easyPracticeTrialsArrayPeriphery);//Add in the easy periphery practice trials
		practiceTrialsBlock = practiceTrialsBlock.concat(makeTextBeforeBothPositionsEasyPracticeTrials());//Add in the instructions in between
		
		//--Both--
		
		var easyPracticeTrialsArrayBoth = makePracticeTrials("both","easy",numberOfEasyPracticeTrialsBoth); //Make the easy both practice trials
		practiceTrialsBlock = practiceTrialsBlock.concat(easyPracticeTrialsArrayBoth);//Add in the easy both practice trials
		
		
		//--End Experiment Clause--
		
		//Add in the clause at the last easy practice trial to end the experiment if the number of correct responses for easy practice trials was not reached
		//practiceTrialsBlock = addInEndExperimentClause(practiceTrialsBlock);
		
		
		//-----HARD TRIALS-----
		
		practiceTrialsBlock = practiceTrialsBlock.concat(makeTextBetweenEasyAndHardPracticeTrials());//Add in the instructions in between
		var hardPracticeTrialsArrayBoth = makePracticeTrials("both","hard",numberOfHardPracticeTrialsBoth); //Make the hard both practice trials
		practiceTrialsBlock = practiceTrialsBlock.concat(hardPracticeTrialsArrayBoth);//Add in the hard both practice trials
				
		
		//----------Make actual trials----------
		
		//Make two trials for the actual trials (staircase)
		var twoActualTrialsArrayCenter = makeTwoTrialsArray("center","staircase"); //A 2-element array that contains one left trial and one right trial (i.e. [left_trial, right_trial])
		
		//Make the periphery trials
		var twoActualTrialsArrayLeft = makeTwoTrialsArray("left","staircase");
		var twoActualTrialsArrayRight = makeTwoTrialsArray("right","staircase");
		
		//The correct trials in correct proportions:  (2 center : 1 left : 1 right)
		var actualTrials = twoActualTrialsArrayCenter.concat(twoActualTrialsArrayCenter.concat(twoActualTrialsArrayLeft.concat(twoActualTrialsArrayRight)));
		
		//Duplicate and shuffle the array
		var  randomizedActualTrials = jsPsych.randomization.repeat(actualTrials,trialsPerCondition);

		//Add in the similarity plugin after each trial
		var allActualTrials = interleaveSimilarityIntoTrials(randomizedActualTrials);
		
		//Add in the break screens for the actual trials
		var allActualTrialsWithBreaks = addInBreaks(allActualTrials);
		
		
		//------Main Timeline------
		
		//The main timeline to be fed into jsPsych.init
		var main_timeline = [];
		main_timeline = main_timeline.concat(makeInstructionsBlock()); //Instructions
		main_timeline = main_timeline.concat(practiceTrialsBlock); //Easy practice trials
		main_timeline = main_timeline.concat(makeTextBeforeActualTrials()); //Transition to actual trials
		main_timeline = main_timeline.concat(allActualTrialsWithBreaks); //Actual trials
		main_timeline = main_timeline.concat(makeSurvey()); //Survey
		main_timeline = insertFixationCrossBeforeRDK(main_timeline); //Insert the fixation crosses before all RDKs
		
		
		
		
		//---------Run the experiment---------
		
		//Initiate the experiment
		jsPsych.init({
			timeline: main_timeline,
			on_finish: function(){ //Execute this when the experiment finishes
				if(savingLocally == true){
					jsPsych.data.localSave('testSave.csv', 'csv'); //Save the data locally in a .csv file
				}
				if(displayData == true){
					jsPsych.data.displayData(); //Display the data onto the browser screen
				}
				if(psiTurkIsOn == true){
					psiturk.saveData({ 
						success: function(){
							psiturk.completeHIT(); //Complete the HIT
						}
					});
				}
			},
			on_trial_finish: function(){ //Execute this after every trial
				if (psiTurkIsOn == true){
					save_data(tableName, [jsPsych.data.getLastTrialData()]);
				}
			}
		});

		//=========================================
		//========Functions below this line========
		//=========================================
		
		
		//------Text-creation Functions Begin-------
		
		
		//Function to create instructions
		function makeInstructionsBlock(){
			
			//Shortcuts for the text
			var header = "<h2> Instructions: </h2>";
			
			//First page text
			var text1 = header + 
				lineSkip + openText +
				"You will be presented with a collection of moving dots either in the middle or near the sides of the screen. Some of them will be moving randomly (random dots) and others will all be moving to the left or right at the same speed (non-random dots). Your task is to determine in which direction the non-random dots are moving (left or right)." +
				closeText + lineSkip + openText +
				"The proportion of dots that move randomly will range from 0% of the total dots to 100% of the dots. Thus some trials will be easy to judge, but other trials will be more difficult. Try to be as accurate as possible on all trials, even the difficult ones!" +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
				
			//Second page text	
			var text2 = header + 
				lineSkip + openText +
				"After 0.2 seconds, the dots will disappear and a slider will show up on the screen. The initial position of the slider will be in the middle. Drag the slider to the left if you think the dots moved to the left. Drag the slider to the right if you think the dots moved to the right." +
				closeText + lineSkip + openText +
				"The slider also represents your confidence in the task. Drag the slider based on how confident you are in the direction of the dots that are all moving in the same direction (non-random dots). For example, if you think there is a 100% chance that the dots moved to the left (i.e. you are certain that they moved to the left), then drag it all the way to the left. However, if you think that there is 75% chance that they moved towards the left, and 25% chance that they moved towards the right, then drag the slider halfway towards the left. The slider will have markers to help you." +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
				
			//Third page text	
			var text3 = header +
				lineSkip + openText +
				"Also, please note that you will not be allowed to proceed unless you drag the slider to the left or right of the middle. If the slider is not moved, you will not be able to continue to the next trial. If you are completely unsure of which direction the non-random dots moved, just make your best guess."	+
				closeText + lineSkip + openText +
				"The dots will also show up at different locations on your screen. On about 50% of the trials, the dots will be presented in the middle of the screen. On the other half of the trials, the dots will be presented on the sides of the screen (25% left and 25% right). However, no matter where the dots are presented, it is VERY IMPORTANT that you keep your eyes fixed to the center of the screen. Before every trial, there will be a black fixation cross (+) in the middle of the screen. <i>Make sure that you are looking at the fixation cross the entire time that it is on the screen.</i>" +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
			
			//Fourth page text	
			var text4 = header +
				lineSkip + openText +
				"You will be given a few practice trials before the start of the actual experiment. Make sure that you take the time to understand the task and are comfortable with the layout of the screen." +
				closeText + lineSkip + openText +
				"This is the end of the instructions. The practice trials will begin in the next screen. Please use the <b><i>ENTIRE RANGE</i></b> of the confidence slider during this task, being as precise as you can in selecting not only the direction the dots are moving, but also in <i>specifying how confident you are</i>." +
				closeText + lineSkip + openText +
				"Also please remember to keep your eyes fixed to the middle of the screen during the dot presentation no matter how tempting it is to look at the dots at the side." +
				closeText + lineSkip + openText +
				"Press any key to begin the practice trials." +
				closeText;
			
			//Add the space to the top if there is space
			text1 = addSpaceToTop(text1);
			text2 = addSpaceToTop(text2);
			text3 = addSpaceToTop(text3);
			text4 = addSpaceToTop(text4);
			
			//The block of instructions containing all the pages of text above
			var instructions_block = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				timeline: [
					{text: text1},
					{text: text2},
					{text: text3},
					{text: text4}
				]
			};
			
			return instructions_block;
		}//End of makeInstructionsBlock
		
		//Function to make the text between the easy and hard practice trials
		function makeTextBetweenEasyCenterAndPeripheryPracticeTrials(){
			
			//Create the text string
			var text = lineSkip + openText +
				"Great work! Those were the practice trials with the dots in the center. There will also be trials where dots are near the sides of your screen. These trials are likely to be more difficult than those with the dots in the center." +
				closeText + lineSkip + openText +
				"We know it is tempting to look at the dots at the sides of the screen. But remember: Always start with your eyes at the fixation cross and keep it there until it disappears from the screen, even when the dots are being presented." +
				closeText + lineSkip + openText +
				"Remember to use the entire range of the slider to indicate how confident you are in your decision. If you are completely unsure, just make your best guess." +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
			
			//Add the space to the top	
			text = addSpaceToTop(text);
			
			//The block of text
			var textBetweenEasyCenterAndPeripheryPracticeTrials = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				text: text
			};
			
			
			return textBetweenEasyCenterAndPeripheryPracticeTrials;
		}
		
		//Function to make the text between the easy and hard practice trials
		function makeTextBeforeBothPositionsEasyPracticeTrials(){
			
			//Create the text string
			var text = lineSkip + openText +
				"Good job! On the actual experiment, you will not know where the dots will be presented. The next few practice trials will have dots being presented either in the center or at the sides." +
				closeText + lineSkip + openText +
				"Remember to keep your eyes in the middle of the screen (where the fixation cross is) no matter where the dots are being presented." +
				closeText + lineSkip + openText +
				"Also, remember to use the entire range of the slider to indicate how confident you are in your decision. If you are completely unsure, just make your best guess." +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
			
			//Add the space to the top	
			text = addSpaceToTop(text);
						
			//The block of text
			var textBeforeBothPositionsPracticeTrials = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				text: text
			};
			
			return textBeforeBothPositionsPracticeTrials;
		}
		
		//Function to make the text between the easy and hard practice trials
		function makeTextBetweenEasyAndHardPracticeTrials(){
			
			//Create the text string
			var text = lineSkip + openText +
				"Great work! Those were the easy practice trials. As you progress through the experiment, trials are likely to get more difficult." +
				closeText + lineSkip + openText +
				"The next four practice trials will be much harder. Try your best to determine the direction of the dots that are all moving in the same direction." +
				closeText + lineSkip + openText +
				"Remember to use the entire range of the slider to indicate how confident you are in your decision. If you are completely unsure, just make your best guess." +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
			
			//Add the space to the top	
			text = addSpaceToTop(text);
									
			//The block of text
			var textBetweenEasyAndHardPracticeTrials = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				text: text
			};
			
			return textBetweenEasyAndHardPracticeTrials;
		}
		
		//Function to make the text before actual trials
		function makeTextBeforeActualTrials(){
			
			//Create the text string
			var text = lineSkip + openText +
				"Great job! You have completed all the practice trials." +
				closeText + lineSkip + openText +
				"We will now start the actual trials. You will not be receiving feedback for the following trials. This will take around 20 minutes to complete." +
				closeText + lineSkip + openText +
				"Remember to use the full range of the slider to indicate how confident you are in your decision. If you are completely unsure, just make your best guess." +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
			
			//Add the space to the top	
			text = addSpaceToTop(text);
			
			var textBeforeActualTrials = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				text: text
			}
			
			return textBeforeActualTrials;
		}
		
		//Function to make survey after the trials
		function makeSurvey(){
			
			var text1 = lineSkip + openText +
				"Awesome! You have completed the experiment." +
				closeText + lineSkip + openText +
				"We now have two simple questions to ask you. Your responses will not affect your compensation, so please be as honest as you can." +
				closeText + lineSkip + openText +
				"Press any key to continue." +
				closeText;
				
			text1 = addSpaceToTop(text1);
			
			//Make the text to prompt for the survey
			var textBeforeSurveyTrials = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				text: text1
			};
			
			
			//Make the gender survey
			var genderSurvey = {
				type: 'survey-multi-choice',
				timing_post_trial: timingPostTrialText,
				questions: ['What is your gender?'],
				options: [['Male', 'Female', 'other', 'Wish not to answer']],
				required: [[true]],
				preamble: ['<h3> Question 1 </h3>']
			};
			
			//Make the age survey
			var ageSurvey = {
				type: 'survey-text',
				timing_post_trial: timingPostTrialText,
				questions: ['What is your age?'],
				columns: 5,
				preamble: ['<h3> Question 2 </h3>']
			};
			
			var text2 = lineSkip + openText +
				"Well done! You are done with the entire task!" +
				closeText + lineSkip + openText +
				"Thank you very much for your time in participating in our experiment. Your participation will contribute to a greater understanding of the human visual system." +
				closeText + lineSkip + openText +
				"Press any key to officially end the experiment and submit your HIT." +
				closeText;
				
			text2 = addSpaceToTop(text2);
			
			//Make the text to prompt for the survey
			var textAfterSurveyTrials = {
				type: 'text',
				timing_post_trial: timingPostTrialText,
				text: text2
			};
			
			return [textBeforeSurveyTrials, genderSurvey, ageSurvey, textAfterSurveyTrials];
		}
		
		//Function to add the break screens based on the number of screens
		function addInBreaks(trialsArray){
			
			//Create the text string
			var text = lineSkip + openText +
				"Great work!" +
				closeText + lineSkip + openText +
				"You may now take a short 1-minute break to rest your eyes." +
				closeText + lineSkip + openText +
				"Remember to always look at the fixation cross in the center even though can be tempting to look elsewhere." +
				closeText + lineSkip + openText +
				"Whenever you are ready, press any key to continue with the experiment." +
				closeText;
			
			//Add the space to the top	
			text = addSpaceToTop(text);
			
			//Make it a trial object
			var breakTrial = {
				type: 'text',
				text: text
			}
			
			//Make an array of where to slot in the breaks
			var breakPointsArray = [];
			
			//Fill in the array (start with 1 because no break at the front)
			for(var i = 1; i <= numberOfBreaks; i++){
				var breakPoint = Math.floor(i/(numberOfBreaks+1)*trialsArray.length);
				breakPointsArray.push(breakPoint);
			}
			
			//For loop to add the breaks. (Go backwards so that we don't need to account for previously spliced indices)
			for(var i = numberOfBreaks-1; i > -1; i--){
				
				//Load in the current index to insert the break
				var currentIndex = breakPointsArray[i];
				
				//Make sure that we are at the similarity trial to add in the break
				while(trialsArray[currentIndex]["type"] !== 'RDK'){
					//Go backwards because we tend to overshoot (index starts at 0)
					currentIndex--;
				}
				
				//Splice in the break
				trialsArray.splice(currentIndex, 0, breakTrial)
				
			}
			
			//Return the spliced array
			return trialsArray;
			
		}//End of addInBreaks
		
		
		//Function to add space to the top of the text based on the window height
		function addSpaceToTop(textString){
			//The amount of space left to use
			var spaceLeft = window.innerHeight - 700;
			
			//While there is still space left, then push it down further
			while(spaceLeft > 0){
				textString = "<h2> <br/> </h2>" + textString;
				spaceLeft -= 100;
			}
			
			return textString;
		}
		
		//------Text-creation Functions End-------
		
		//------Timeline (Array-handler) Functions Begin-------
		
		//Function to make practice trials of
		function makePracticeTrials(position, coherenceType, numberOfTrials){
			
			//The template practice trials
			var templatePracticeTrials;
			
			if(position === "both"){
				//Make 8 trials for easy practice both
				templatePracticeTrials = makeTwoTrialsArray("center",coherenceType).concat(makeTwoTrialsArray("center",coherenceType).concat(makeTwoTrialsArray("left",coherenceType).concat(makeTwoTrialsArray("right",coherenceType))));
			}
			//Else if it is for the periphery
			else if(position === "periphery"){
				//Make 4 practice trials for periphery
				templatePracticeTrials = makeTwoTrialsArray("left",coherenceType).concat(makeTwoTrialsArray("right",coherenceType));// [left_left, left_right, right_left, right_right]
			}
			//Else if it is for the center
			else if(position === "center"){
				//Make 2 practice trials for the center
				templatePracticeTrials = makeTwoTrialsArray("center",coherenceType);
			}
			//Error checking. Should not run
			else{
				console.log("Error: makePracticeTrials function has no valid position.");
			}
			
			var multipliedArray = [];
			
			//If there should be less trials than there are, we cut them
			if(numberOfTrials < templatePracticeTrials.length){
				//The group to select one out of (e.g. select one out of every 2)
				var numSelectOne = Math.floor(templatePracticeTrials.length/numberOfTrials);
				
				//For loop that traverses each group and selects one
				for (var i = 0; i < templatePracticeTrials.length; i+=numSelectOne){
					//Randomly choose one of each pair [0 or 1 + groupNumberStartingIndex]
					var chosenFromPair = Math.floor(Math.random()*2) + i;
					//Push that into the array
					multipliedArray.push(templatePracticeTrials[chosenFromPair]);
				}
			}
			//Else if the number is more than the template, then multiply and shuffle the array
			else if(numberOfTrials > templatePracticeTrials.length){
				multipliedArray = jsPsych.randomization.repeat(templatePracticeTrials,Math.floor(numberOfTrials/templatePracticeTrials.length));
			}
			//Else they are equal and we just transfer as is
			else{
				multipliedArray = templatePracticeTrials;
			}
			
			//Shuffle the array anyways
			var shuffledArray = jsPsych.randomization.shuffle(multipliedArray);
			//Add in the similarity plugin after each trial
			var shuffledArrayWithoutFeedback = interleaveSimilarityIntoTrials(shuffledArray);
			//Add in the feedback after each RDK and similarity trial
			var shuffledArrayWithFeedback = interleaveFeedbackIntoTrials(shuffledArrayWithoutFeedback);
			
			return shuffledArrayWithFeedback;
		}//End of makePracticeTrials
		
		//Function to make the two trials in one array
		function makeTwoTrialsArray(position, coherenceType){
			
			//Make a copy of the typical trial 
			var tempTrial = Object.assign({},typicalTrial);
			//Tag the trial with the position
			tempTrial.position = position;
			
			//If this is for the center trials, then use the default RDK setting
			if(position === "center"){
				//Use Default for aperture position
				//Log data to tag this as center
				tempTrial.positionType = "center";
			}
			//Else if this is left, then set the aperture location
			else if(position === "left"){
				tempTrial.aperture_center_x = function(){ return(window.innerWidth/2 - peripheryDistanceFromCenter); };
				//Log data to tag this as periphery
				tempTrial.positionType = "periphery";
			}
			//Else if this is right, then set the aperture location
			else if(position === "right"){
				tempTrial.aperture_center_x = function(){ return(window.innerWidth/2 + peripheryDistanceFromCenter); };
				//Log data to tag this as periphery
				tempTrial.positionType = "periphery";
			}
			
			//Add in the coherence depending on the parameter
			//If staircase, add in the staircase function
			if(coherenceType == "staircase"){
				tempTrial.trialType = "actual";
				//Check which staircase to use
				//If center, then use myPest1
				if(position === "center"){
						tempTrial.coherence = function(){
						return myPest1.staircase(transferCorrect1);
					} //To be evaluated at the start of trial
				}
				//Else if periphery, use myPest2
				else if(position === "left" || position === "right"){
						tempTrial.coherence = function(){
						return myPest2.staircase(transferCorrect2);
					} //To be evaluated at the start of trial
				}
				
			}
			//Else if easy, then set coherence to easy coherence level
			else if(coherenceType == "easy"){
				tempTrial.coherence = easyCoherence;
				tempTrial.difficulty = "easy";
				tempTrial.trialType = "practice";
			}
			//Else if hard, then set coherence to hard coherence level
			else if(coherenceType == "hard"){
				tempTrial.coherence = hardCoherence;
				tempTrial.difficulty = "hard";
				tempTrial.trialType = "practice";
			}
			//Error checking. Should not run.
			else{
				console.log("Invalid coherenceType (in makeTwoTrialsArray function). Defaulting to default coherence level.")
			}
									
			//Left trial
			var left_RDK_trial = Object.assign({},tempTrial); //Copy the temp trial object
			left_RDK_trial.coherent_direction = coherentDirection_left;//Add in the coherent direction
			
			//Right trials
			var right_RDK_trial = Object.assign({},tempTrial); //Copy the temp trial object
			right_RDK_trial.coherent_direction = coherentDirection_right;//Add in the coherent direction
						
			return [left_RDK_trial, right_RDK_trial]; //Return a 2-element array of left and right trial objects
		}//End of makeTwoTrialsArray

		//Function to insert a similarity plugin after every trial
		function interleaveSimilarityIntoTrials(RDKTrialsArray){
			//Create a temporary array to hold both types (RDK and Similarity)
			var tempArray = [];
			
			//Loop through each of the RDK trials
			for (var i = 0; i < RDKTrialsArray.length; i++){
				
				//Load the current trial into a variable for easy handling
				var currentRDKTrial = RDKTrialsArray[i];
				
				//For each RDK trial, create a similarity trial based off the direction of that trial
				var similarityTask = {
					type: 'similarity',
					is_html: true,
					stimuli: [fakeStimuli, fakeStimuli], //No stimuli for this plugin
					timing_post_trial: timingPostTrialSimilarity,
					labels: ["100%<br/>Completely certain - Left", "50%|50%<br/>Purely guessing", "100%<br/>Completely certain - Right"],
					timing_first_stim: 1, //Setting all the timings to zero so that we only use the timing_post_trial to control the timings
					timing_image_gap: 1,
					prompt: "<h4> Move the slider to show how confident you are in the direction of the dots.</h4>",
					data: {
						coherent_direction: currentRDKTrial.coherent_direction, //Tag the direction of the previous RDK trial onto the similarity task
						difficulty: currentRDKTrial.difficulty, //Tag the difficulty of the previous RDK trial onto the similarity task
						trialType: currentRDKTrial.trialType, //Tag the trial type of the previous RDK trial onto the similarity task
						position: currentRDKTrial.position, //Tag the location
						positionType: currentRDKTrial.positionType //Tag the location Type
					}, 
					on_finish: function(dataObject){
						
						//Variable to keep track of whether the subject responded correctly
						var isCorrect = false;
							
						//If the direction of dots correspond with the direction of subject's response, the subject's response is correct
						if ( (dataObject.coherent_direction == coherentDirection_left && dataObject.sim_score < 50) ||(dataObject.coherent_direction == coherentDirection_right && dataObject.sim_score > 50) ){
							isCorrect = true;
						} 
					
						//Save it into the global variable based on which staircase it used
						if(dataObject.positionType === "center"){
							transferCorrect1 = isCorrect;
						}
						else if(dataObject.positionType === "periphery"){
							transferCorrect2 = isCorrect;
						}
						
						//Add the decision to the data object
						jsPsych.data.addDataToLastTrial({correct: isCorrect});
						//[sivaHack]console.log(" ^ Last trial correct: " + isCorrect);
					}
				};
				
				//Push in the RDK trial
				tempArray.push(currentRDKTrial);
				//Push in the similarity task
				tempArray.push(similarityTask);
				
			}//End of for loop
			
			return tempArray;
		}//End of interleaveSimilarityIntoTrial
		
		//Function to insert a feedback screen (text plugin) after every RDK and similarity trial
		function interleaveFeedbackIntoTrials(RDKAndSimilarityTrialsArray){
			
			//Create a temporary array to hold both types (RDK and Similarity)
			var tempArray = [];
			
			//Loop through every pair of RDK + Similarity trials
			for (var i = 0; i < RDKAndSimilarityTrialsArray.length; i++){
				
				//Load the current trial into a variable for easy handling
				var currentTrial = RDKAndSimilarityTrialsArray[i]; //This is either a RDK trial (if i is even) or Similarity trial (if i is odd)
				
				//Push the trial in regardless of which trial it is
				tempArray.push(currentTrial);
				
				//If i is odd, then it is a Similarity trial. Once it is pushed, we push in the feedback trial
				if (i%2 == 1){
					
					//Create the feedback trial to be pushed in
					var feedbackTrial = {
						type: 'text',
						timing_post_trial: timingPostTrialText,
						text: function(){
							
							//Declare the string to return
							var returnString = ""; //
							
							//Get the data from the previous trial (the similarity trial data)
							var dataObject = jsPsych.data.getLastTrialData();
							
							//Get the correctness of the previous trial
							var isCorrect = dataObject.correct;
														
							//If it is correct, then display text that says that the subject did well
							if (isCorrect){
								
								returnString = lineSkip +
									lineSkip + lineSkip + lineSkip + lineSkip + openText +
									"That's correct!" +
									closeText + lineSkip + openText +
									"Keep up the good work!" +
									closeText + lineSkip + openText +
									"Press any key to continue." +
									closeText;
								
								//If it is an easy trial, increase the easy counter
								if (dataObject.difficulty == "easy"){
									easyCorrectCounter++;
								}
								//Else if it is an easy trial, increase the easy counter
								else if (dataObject.difficulty == "hard"){
									hardCorrectCounter++;
								}
								//Error checking. This should not run
								else{
									console.log("Error: Feedback trial is neither hard nor easy.");
								}
								
							}
							else{
								returnString = lineSkip +
								lineSkip + lineSkip + lineSkip + lineSkip + openText +
								"That is incorrect." +
								closeText + lineSkip + openText +
								"Remember to try to see where the non-random dots are moving." +
								closeText + lineSkip + openText +
								"Please try again." +
								closeText + lineSkip + openText +
								"Press any key to continue." +
								closeText;
							}
								
							return addSpaceToTop(returnString);
						}//End of text function
					};//End of object definition
					
					//Push the feedback trial object into the tempArray
					tempArray.push(feedbackTrial)
				}//End of if
				
			}//End of for loop
			
			return tempArray;	
		}//End of interleaveFeedbackIntoTrials
		
		//Function to interleave the Fixation Cross before the stimuli 
		function insertFixationCrossBeforeRDK(mixedArray){
			
			function makeFixationCross(){
				//Create a canvas and attach it to the display element / body
				var body = document.getElementsByTagName('body')[0];
				var canvas = document.createElement('canvas'); //Global variable to be used later in the on_finish function
				body.appendChild(canvas);
				body.style.margin = 0;
				body.style.padding = 0;
				
							
				//Set up the canvas
				canvas.width = window.innerWidth;
				canvas.height = window.innerHeight;
				canvas.style.margin = 0;
				canvas.style.padding = 0;
				
				//Get the context
				var ctx = canvas.getContext('2d');
				
				//Draw the background
				ctx.fillStyle = "gray";
				ctx.fillRect(0, 0, window.innerWidth, window.innerHeight);
				
				//Draw a fixation cross
				ctx.beginPath();
			    ctx.lineWidth = fixationCrossThickness;
			    ctx.moveTo(window.innerWidth/2 - fixationCrossWidth, window.innerHeight/2);
			    ctx.lineTo(window.innerWidth/2 + fixationCrossWidth, window.innerHeight/2);
			    ctx.fillStyle = fixationCrossColor;
			    ctx.stroke();
			    
			    //Vertical line
			    ctx.beginPath();
			    ctx.lineWidth = fixationCrossThickness;
			    ctx.moveTo(window.innerWidth/2, window.innerHeight/2 - fixationCrossHeight);
			    ctx.lineTo(window.innerWidth/2, window.innerHeight/2 + fixationCrossHeight);
			    ctx.fillStyle = fixationCrossColor;
			    ctx.stroke();
				
				//Convert it to a url
				var fixationCrossURL = canvas.toDataURL();
				
				//Remove the canvas from the body/display element
				canvas.remove();
				
				return fixationCrossURL;
			}
			
			//Create a fixation cross object
			var fixationCrossObject = {
				type: 'single-stim',
				stimulus: function(){return makeFixationCross()},
				timing_post_trial: 0.0000001,
				timing_response: fixationCrossDuration,
				on_trial_start: function(){
					//Set the body margins and padding to zero to place the image correctly
					//var body = document.getElementsByTagName('body')[0];
					//body.style.margin = 0;
					//body.style.padding = 0;
				},
				on_finish: function(){
					//Reset the margin and padding back to the original so that subsequent plugins will work well
					//body.style.margin = "50px auto 50px auto"; //From jsPsych.css
					//body.style.padding = "auto"; //Guess
				}
			};
						
			//Loop through the whole array, and splice in the fixation cross before the RDK
			for (var i = 0; i < mixedArray.length-1; i++){
					
				//If the item is an RDK, then slot in the fixation cross right before it
				if (mixedArray[i].type == 'RDK'){
					mixedArray.splice(i,0,fixationCrossObject);
					i++; //Increment the counter again to move to the next element since we inserted the fixation cross in this element.
				}
				
			}//End of for loop
			
			return mixedArray;
		}
		
		//Function to end the experiment if the easy correct did not hit the threshold
		function addInEndExperimentClause(mixedArray){
			
			mixedArray[mixedArray.length-1].on_finish = function(){
				console.log("Number correct: " + easyCorrectCounter);
				console.log("Threshold: " + easyCorrectThreshold);
				if(easyCorrectCounter < easyCorrectThreshold){
					jsPsych.endExperiment(lineSkip + lineSkip + lineSkip + openText +
						"Thank you for participating in this experiment." +
						closeText +	lineSkip + lineSkip + lineSkip + openText +
						"We will be compensating you $0.25 for your time." +
						closeText + lineSkip + lineSkip + lineSkip + openText +
						"You may exit the experiment." +
						closeText);
				}
				else{
					return false;
				}
			}
			
			return mixedArray;
		}
		
		//------Timeline (Array-handler) Functions End-------
		
		
		//------psiTurk Functions Begin------
		
		//A function to save the data to the SQL table on the psiturk server.  This gets called at the end of the file.
		function save_data(data_table,data){
			
			//Add data to the jsPsych data file
			jsPsych.data.addProperties({stimulus: '', subject: psiturk.taskdata.get('workerId')});
			
			//Use AJAX to post the data onto the psiturk server
			$.ajax({
				type:'post',
				cache: false,
				url: 'https://psiturk.psych.ucla.edu/~odegaard/' + folderName + '/templates/savedata.php',
				data: {
					table: data_table,
					json: JSON.stringify(data),
				},
				success: function(output) { console.log(output); } // write the result to javascript console
			});
		}
		
		//------psiTurk Functions End------
		
	</script>
</html>